<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Login</title>
</head>
<body>

<script th:if="${param.error}">
alert("Username o Password incorrectos")
</script>

<div class="container">
  <h2>Formulario Login Mintic</h2>
  <form th:action="@{/login}" th:object="${usuario}" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" th:field="*{username}"  id="username" placeholder="Digite Usuario" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Digite el password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesion</button>
    <button type="button" class="btn btn-warning"  onclick="window.location.href='/register'">Registrarse</button>
  </form>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>